.footer{
	flex: 0 0 auto;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
}
// .logo-box{
// 	max-height: 40px;
// }
.rs-logo{
	height: 30px;
	&:hover{
		transform: scale(1.1);
    transition: all .3s ;
	}
}
.git-logo{
	max-height: 30px;
	height: 15px;
  width: 15px;
  margin-right: 5px;
  background-color: #000;
  border-radius: 50%;
}
.autor-name{
	display: flex;
  align-items: center;
  margin: 10px;
	text-decoration: none;
	color: black;
	&:hover{
		transform: scale(1.1);
    transition: all .3s ;
		color: black;
	}
}